<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="34" android:compileSdkVersionCodename="14" package="com.samsung.android.kmxservice" platformBuildVersionCode="34" platformBuildVersionName="14">
    <uses-permission android:name="com.samsung.security.fabric.crypto.permission.KNOX_MATRIX"/>
    <uses-permission android:name="android.permission.ACCESS_KEYGUARD_SECURE_STORAGE"/>
    <uses-permission android:name="android.permission.START_ACTIVITIES_FROM_BACKGROUND"/>
    <uses-permission android:name="com.samsung.android.security.permission.SAMSUNG_KEYSTORE_PERMISSION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.samsung.android.permission.WRITE_SCPM"/>
    <uses-permission android:name="com.samsung.android.permission.READ_SCPM"/>
    <uses-permission android:name="android.permission.REQUEST_PASSWORD_COMPLEXITY"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <permission android:name="com.samsung.android.kmxservice.permission.ESCROW_VAULT_SERVICE" android:protectionLevel="signatureOrSystem"/>
    <permission android:name="com.samsung.android.kmxservice.permission.TRUSTCHAIN_SERVICE" android:protectionLevel="signatureOrSystem"/>
    <permission android:name="com.samsung.android.kmxservice.permission.SECURITY_DASHBOARD" android:protectionLevel="signatureOrSystem"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <queries>
        <package android:name="com.samsung.android.smp.register"/>
        <package android:name="com.sec.spp.push"/>
    </queries>
    <uses-permission android:name="com.samsung.android.samsungaccount.permission.ACCOUNT_MANAGER"/>
    <permission android:name="com.samsung.android.kmxservice.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="com.samsung.android.kmxservice.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:extractNativeLibs="false" android:fullBackupContent="false" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:name="com.samsung.android.kmxservice.KmxServiceApplication" android:requestLegacyExternalStorage="true" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/Theme.KmxService">
        <activity android:exported="true" android:label="@string/app_name" android:name="com.samsung.android.kmxservice.MainActivity" android:theme="@style/Theme.AppCompat.DayNight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <provider android:authorities="com.samsung.android.kmxservice.file" android:exported="false" android:grantUriPermissions="true" android:name="com.samsung.android.kmxservice.common.tool.provider.KmxFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/filepaths"/>
        </provider>
        <provider android:authorities="com.samsung.android.kmxservice" android:exported="true" android:name="com.samsung.android.kmxservice.e2ee.E2EEContentProvider"/>
        <uses-library android:name="FabricCryptoLib" android:required="false"/>
        <service android:exported="true" android:name="com.samsung.android.kmxservice.escrowvault.EscrowAgent" android:permission="com.samsung.android.kmxservice.permission.ESCROW_VAULT_SERVICE">
            <intent-filter>
                <action android:name="com.samsung.android.kmxservice.escrowvault.EV_SERVICE"/>
                <action android:name="com.samsung.android.kmxservice.escrowvault.UPDATE_VERIFIER"/>
            </intent-filter>
        </service>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.samsung.android.kmxservice.escrowvault.ui.VerifyPppActivity" android:resizeableActivity="false" android:windowSoftInputMode="adjustResize"/>
        <activity android:excludeFromRecents="true" android:name="com.samsung.android.kmxservice.escrowvault.ui.PppDelegateActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.samsung.android.kmxservice.common.update.connector.AppUpdateActivity" android:theme="@style/Theme.Transparent"/>
        <uses-library android:name="samsungkeystoreutils" android:required="false"/>
        <activity android:excludeFromRecents="true" android:name="com.samsung.android.kmxservice.common.samsungaccount.SamsungAccountDelegateActivity" android:theme="@style/Theme.Transparent"/>
        <activity android:enabled="@bool/dashboard_enabled" android:exported="true" android:name="com.samsung.android.kmxservice.dashboard.view.SecurityStatusActivity" android:permission="com.samsung.android.kmxservice.permission.SECURITY_DASHBOARD">
            <intent-filter>
                <action android:name="com.samsung.android.kmxservice.action.SECURITY_DASHBOARD"/>
                <action android:name="com.android.settings.action.IA_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.keyhint" android:value="security_status_of_your_devices"/>
            <meta-data android:name="com.android.settings.category" android:value="com.android.settings.category.ia.security"/>
            <meta-data android:name="com.android.settings.title" android:resource="@string/security_status_of_your_devices"/>
            <meta-data android:name="com.android.settings.order" android:value="830"/>
        </activity>
        <activity android:name="com.samsung.android.kmxservice.dashboard.view.AboutPageActivity"/>
        <activity android:name="com.samsung.android.kmxservice.dashboard.view.OpenSourceLicensesActivity"/>
        <receiver android:exported="true" android:name="com.samsung.android.kmxservice.common.samsungaccount.SamsungAccountEventReceiver">
            <intent-filter>
                <action android:name="com.samsung.account.SAMSUNGACCOUNT_SIGNIN_COMPLETED"/>
                <action android:name="com.samsung.account.SAMSUNGACCOUNT_RESIGNIN_COMPLETED"/>
                <action android:name="com.samsung.account.SAMSUNGACCOUNT_SIGNOUT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:exported="true" android:name="com.samsung.android.kmxservice.trustchain.TrustChainAgent" android:permission="com.samsung.android.kmxservice.permission.TRUSTCHAIN_SERVICE">
            <intent-filter>
                <action android:name="com.samsung.android.kmxservice.trustchain.CHAIN_SERVICE"/>
            </intent-filter>
        </service>
        <service android:name="com.samsung.android.sdk.smp.SmpJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:exported="false" android:name="com.samsung.android.kmxservice.trustchain.fcm.FcmEventReceiver">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:enabled="true" android:exported="false" android:name="com.samsung.android.kmxservice.trustchain.fcm.SmpEventReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <action android:name="com.samsung.android.sdk.smp.pushRegistrationResult"/>
                <action android:name="com.samsung.android.sdk.smp.smpInitResult"/>
                <action android:name="com.samsung.android.sdk.smp.smpInitializeResult"/>
                <action android:name="com.samsung.android.sdk.smp.pushTokenChanged"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.samsung.android.kmxservice.trustchain.securityscanner.EventReceiver">
            <intent-filter>
                <action android:name="com.samsung.intent.action.LAZY_BOOT_COMPLETE"/>
                <action android:name="com.samsung.android.kmxservice.trustchain.CHANGE_OEM_UNLOCK_ALLOWED"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="com.samsung.android.sdk.smp.sdkv" android:value="3.3.9.0"/>
        <meta-data android:name="com.samsung.android.sdk.smp.sdkvint" android:value="3030900"/>
        <provider android:authorities="com.samsung.android.kmxservice.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="androidx.work.WorkManagerInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.profileinstaller.ProfileInstallerInitializer" android:value="androidx.startup"/>
        </provider>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:name="androidx.work.impl.foreground.SystemForegroundService"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
            <meta-data android:name="com.google.android.gms.cloudmessaging.FINISHED_AFTER_HANDLED" android:value="true"/>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.ktx.FirebaseCommonLegacyRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.FirebaseCommonKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:required="false"/>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.profileinstaller.ProfileInstallReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="SPDE.build.signature" android:value="8ca8f6b262b79de41d6a2edffa20cf42a2f02354/146378115/release/KmxService-157000-1.1.01"/>
        <meta-data android:name="SPDE.env.version" android:value="8.0.2/G34.1.13/1.1.15"/>
    </application>
</manifest>
